$colorMap: (
	light: #ddd,
	border: #ced4da,
	dark: #121212,
	gray: #BDBDBD,
	main: blue
);

@function color ($key) {
	@return map-get($colorMap, $key);
}

@mixin click {
	cursor: pointer;
	transition: opacity 0.7s;

	&:hover {
		opacity: 0.7;
	}
}